* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(94, 63, 122);
}

main {
    margin: 0px 40px;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
    margin: 0px 20px;
}

li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

button {
    width: 100px;
    padding: 15px;
    border-radius: 15px;
    border-style: none;
    margin: 0px 5px;
}

/* video section */

.video-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.video-container video {
    width: 100%;
    border-radius: 15px;
    outline: none;
}

.other-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.other-video video {
    display: flex;
    width: 66%;
    margin-top: 10px;
    outline: none;
}

.top-video {
    display: flex;
    flex-direction: column;
}

.top-video h3 {
    position: absolute;
    color: rgb(0, 0, 0);
    margin: 5px;
    background-color: white;
    border-bottom-right-radius: 15px;
    padding: 15px;
    margin: 0px;
}



/* footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
}

footer p {
    text-align: center;
    padding: 10px;
}

/* media query */

@media (max-width: 320px) {

    main {
        margin: 0 10px;
    }

    header img {
        width: 50px;
    }

    nav {
        display: none;
    }

    .video-container {
        padding: 10px;
        grid-template-columns: 1fr;
    }

    .video-container video {
        width: 100%;
        border-radius: 10px;
    }

    .top-video h3 {
        font-size: 9.36px;
        padding: 8px 15px;
    }

    footer {
        font-size: 8px;
    }

    footer p {
        padding: 5px;
    }
    
}